{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .no-blogs {
            text-align: center;
            margin-top: 110px; /* Ajusta este valor según sea necesario */
        }
        .user-avatar, .blog-avatar {
            width: 50px; /* Ajusta el tamaño según sea necesario */
            height: 50px;
            border-radius: 50%;
        }
        .user-info {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            {% if user.is_authenticated %}
                <span class="user-info">
                {% if user.profile_image %}
                    <img src="{{ user.profile_image.url }}" alt="Avatar" class="user-avatar">
                {% else %}
                    <img src="{% static '/avatars/default-avatar.png' %}" alt="Avatar" class="user-avatar">
                    <br>
                {% endif %}
                {{ user.username }}
                </span>
                <a href="{% url 'profile' %}" class="header-button">Ver Perfil</a>
                <a href="{% url 'logout' %}" class="header-button">Cerrar Sesión</a>
            {% else %}
                <a href="{% url 'login' %}" class="header-button">Iniciar Sesión</a>
                <a href="{% url 'signup' %}" class="header-button">Registrarse</a>
            {% endif %}
        </div>
    </header>


    <div style="text-align: center;">
        {% if user.is_authenticated %}
            <a href="{% url 'publish_blog' %}" id="publish-blog-button" class="header-button">Publicar blog</a>
        {% else %}
            <button id="publish-blog-button" class="header-button" onclick="showLoginModal()">Publicar blog</button>
            <div id="login-modal" class="modal" style="display: none;">
                <p>Debes estar logueado para publicar en el blog. Por favor, <a href="{% url 'login' %}">inicia sesión</a> o <a href="{% url 'signup' %}">regístrate</a>.</p>
            </div>
        {% endif %}
    </div>

    <div class="blog-container">
        {% for blog in blogs %}
            <div class="blog-preview">
                {% if blog.author.profile_image %}
                    <img src="{{ blog.author.profile_image.url }}" alt="Avatar" class="user-avatar">
                {% else %}
                    <img src="{% static 'avatars/default-avatar.png' %}" alt="Avatar" class="user-avatar">
                {% endif %}
                <div class="blog-info">
                    <h2>{{ blog.title }}</h2>
                    {% if blog.author == request.user %}
                    <a href="{% url 'blog_delete' pk=blog.pk %}" title="Eliminar Blog">
                        <i class="material-icons" style="color: red;">delete</i>
                    </a>
                    {% endif %}
                    <button onclick="toggleContent('content-{{ blog.id }}')">Ver Contenido</button>
                    <div id="content-{{ blog.id }}" style="display:none;">
                        <p>{{ blog.content }}</p>
                    </div>
                </div>
            </div>
            <hr>
        {% empty %}
            <div class="no-blogs">
                <img src="{% static 'travolta-empty.gif' %}" alt="No hay blogs disponibles">
                <p>No hay blogs aún. ¡Sé el primero!</p>
            </div>
        {% endfor %}
    </div>



    <script src="{% static 'js/your_script.js' %}"></script>
    <script>
        function showLoginModal() {
            var modal = document.getElementById('login-modal');
            modal.style.display = 'block';
        }
        
        function toggleContent(id) {
            var content = document.getElementById(id);
            content.style.display = content.style.display === 'none' ? 'block' : 'none';
        }
    </script>

</body>
</html>
