{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="{% static 'css/accounts_style.css' %}">
</head>
<body>
    <h1>Editar Perfil</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Actualizar Nombre de Usuario -->
        <div>
            <label for="username">Nombre de Usuario:</label>
            <input type="text" name="username" id="username" value="{{ user.username }}">
            <button type="submit" name="action" value="update_username">Actualizar Nombre de Usuario</button>
        </div>

        <!-- Actualizar Email -->
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value="{{ user.email }}">
            <button type="submit" name="action" value="update_email">Actualizar Email</button>
        </div>

        <div class="avatar-selection">
            <label for="avatar1"><img src="{% static 'avatars/avatar1.png' %}" alt="Avatar 1"></label>
            <input type="radio" name="avatar" id="avatar1" value="avatar1" {% if user.profile_image.url == '/avatars/avatar1.png' %}checked{% endif %}>
        
            <label for="avatar2"><img src="{% static 'avatars/avatar2.png' %}" alt="Avatar 2"></label>
            <input type="radio" name="avatar" id="avatar2" value="avatar2" {% if user.profile_image.url == '/avatars/avatar2.png' %}checked{% endif %}>
        
            <label for="avatar3"><img src="{% static 'avatars/avatar3.png' %}" alt="Avatar 3"></label>
            <input type="radio" name="avatar" id="avatar3" value="avatar3" {% if user.profile_image.url == '/avatars/avatar3.png' %}checked{% endif %}>
        
            <label for="avatar4"><img src="{% static 'avatars/avatar4.png' %}" alt="Avatar 4"></label>
            <input type="radio" name="avatar" id="avatar4" value="avatar4" {% if user.profile_image.url == '/avatars/avatar4.png' %}checked{% endif %}>
        
            <label for="default-avatar"><img src="{% static 'avatars/default-avatar.png' %}" alt="default-avatar"></label>
            <input type="radio" name="avatar" id="default" value="default-avatar" {% if user.profile_image.url == '/avatars/default-avatar.png' %}checked{% endif %}>
        </div>
               
        

        <button type="submit" name="action" value="update_avatar">Actualizar Avatar</button>

        <!-- Actualizar Descripción -->
        <div>
            <label for="description">Descripción:</label>
            <textarea name="description" id="description">{{ user.description }}</textarea>
            <button type="submit" name="action" value="update_description">Actualizar Descripción</button>
        </div>

        <!-- Actualizar Contraseña -->
        <div>
            <label for="password">Nueva Contraseña:</label>
            <input type="password" name="password" id="password">
            <button type="submit" name="action" value="update_password">Actualizar Contraseña</button>
        </div>

        <!-- Botón para guardar todos los cambios -->
        <button type="submit" name="action" value="update_all">Guardar todos los cambios</button>
    </form>

    <script src="{% static 'js/edit_profile_script.js' %}"></script>
</body>
</html>
