{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="{% static 'css/accounts_style.css' %}">
</head>
<body>
    <h1>Editar Perfil</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Actualizar Nombre de Usuario -->
        <div>
            <label for="username">Nombre de Usuario:</label>
            <input type="text" name="username" id="username" value="{{ user.username }}">
            <button type="submit" name="action" value="update_username">Actualizar Nombre de Usuario</button>
        </div>

        <!-- Actualizar Email -->
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value="{{ user.email }}">
            <button type="submit" name="action" value="update_email">Actualizar Email</button>
        </div>

        <div class="avatar-selection">
            <label>
                <input type="radio" name="profile_avatar" value="avatars/avatar1.png" id="id_profile_avatar_0" required>
                <img src="{% static 'avatars/avatar1.png' %}" alt="Avatar 1">
            </label>
            
            <label>
                <input type="radio" name="profile_avatar" value="avatars/avatar2.png" id="id_profile_avatar_1" required>
                <img src="{% static 'avatars/avatar2.png' %}" alt="Avatar 2">
            </label>
        
            <label>
                <input type="radio" name="profile_avatar" value="avatars/avatar3.png" id="id_profile_avatar_2" required>
                <img src="{% static 'avatars/avatar3.png' %}" alt="Avatar 3">
            </label>
        
            <label>
                <input type="radio" name="profile_avatar" value="avatars/avatar4.png" id="id_profile_avatar_3" required>
                <img src="{% static 'avatars/avatar4.png' %}" alt="Avatar 4">
            </label>
        
            <label>
                <input type="radio" name="profile_avatar" value="avatars/default-avatar.png" id="id_profile_avatar_4" required>
                <img src="{% static 'avatars/default-avatar.png' %}" alt="Default Avatar">
            </label>
        </div>

        <button type="submit" name="action" value="update_avatar">Actualizar Avatar</button>

        <!-- Actualizar Descripción -->
        <div>
            <label for="description">Descripción:</label>
            <textarea name="description" id="description">{{ user.description }}</textarea>
            <button type="submit" name="action" value="update_description">Actualizar Descripción</button>
        </div>

        <!-- Actualizar Contraseña -->
        <div>
            <label for="password">Nueva Contraseña:</label>
            <input type="password" name="password" id="password">
            <button type="submit" name="action" value="update_password">Actualizar Contraseña</button>
        </div>

        <!-- Botón para guardar todos los cambios -->
        <button type="submit" name="action" value="update_all">Guardar todos los cambios</button>
    </form>

    <script src="{% static 'js/edit_profile_script.js' %}"></script>
</body>
</html>
