<!-- "myblogsite/accounts/templates/accounts/signup.html" -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/accounts_style.css' %}">
</head>
<body>
    <h1>Registro</h1>
    <form id="signupForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="avatar-selection">
            {% for choice in form.avatar.field.choices %}
                <label>
                    <img src="{% static choice.0 %}" alt="{{ choice.1 }}">
                    <input type="radio" name="avatar" value="{{ choice.0 }}">
                </label>
            {% endfor %}
        </div>
        <button type="submit">Registrarse</button>
    </form>    
    <script src="{% static 'js/accounts_script.js' %}"></script>
</body>
</html>
