/* "myblogsite\blog\static\css\style.css" */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: blue;
}

.form-field {
    margin-bottom: 15px;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.blog-preview {
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .blog-preview h2 {
    margin-bottom: 10px;
    }
    
    .blog-preview h2 a {
    color: #0056b3;
    text-decoration: none; 
    }
    
    .blog-preview p {
    color: #666;
    }
    
    .blog-preview button {
    margin-top: 10px;
    }
    
    .blog-content {
    margin-top: 15px;
    }