<!-- "myblogsite\blog\templates\blog\blog_detail.html" -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ blog.title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>{{ blog.title }}</h1>
    <button id="toggleContentButton">Mostrar/Ocultar Detalles</button>

    <!-- Detalles del blog dentro de un div para mostrar/ocultar -->
    <div id="toggleContent" style="display: none;">
        <p>{{ blog.subtitle }}</p>
        <div>{{ blog.body }}</div>
        <p>Escrito por: {{ blog.author }}</p>
        <p>Fecha: {{ blog.date }}</p>
        {% if blog.image %}
            <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
        {% endif %}
    </div>

    <a href="{% url 'blog_list' %}">Volver a la lista de blogs</a>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
