{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ blog.title }}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {{ form.media }}
        <style>
            .user-avatar {
                width: 50px; /* Ajusta el tamaño según sea necesario */
                height: 50px;
                border-radius: 50%;
            }
            .content {padding: 10px}
        </style>
    </head>
    <body>
        <header>
            <div class="container">
                {% if user.is_authenticated %}
                    <span class="user-info">
                    {% if user.profile_image %}
                        <img src="{{ user.profile_image.url }}" alt="Avatar" class="user-avatar">
                    {% else %}
                        <img src="{% static '/avatars/default-avatar.png' %}" alt="Avatar" class="user-avatar">
                    {% endif %}
                    {{ user.username }}
                    </span>
                    <a href="{% url 'landing' %}" class="header-button">Inicio</a>
                    <a href="{% url 'profile' %}" class="header-button">Ver Perfil</a>
                    <a href="{% url 'blog_list' %}" class="header-button">Lista de Blogs</a>
                    <a href="{% url 'logout' %}" class="header-button">Cerrar Sesión</a>
                {% else %}
                    <a href="{% url 'login' %}" class="header-button">Iniciar Sesión</a>
                    <a href="{% url 'signup' %}" class="header-button">Registrarse</a>
                {% endif %}
            </div>
        </header>
        <div class="container mt-5 content">
            <h1>Publicar Blog</h1>
            <form method="post" enctype="multipart/form-data" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Publicar</button>
            </form>
            <a href="{% url 'blog_list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </body>
</html>
