{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Publicar Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {{ form.media }}
</head>
<body>
    <div class="container mt-5">
        <h1>Publicar Blog</h1>
        <form method="post" enctype="multipart/form-data" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Publicar</button>
        </form>
        <a href="{% url 'blog_list' %}" class="btn btn-secondary">Cancelar</a>
    </div>
</body>
</html>
